@page
@model TasteRestaurant.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">

    <h3>Your shopping cart</h3>
    <br />

    @if (Model.DetailCart.ListCart.Count > 0)
    {
        <div class="thumbnail row">
            <table width="100%">
                <tr class="paddingB30pxToTH">
                    <th></th>
                    <th style="width: 70px; text-align: center">
                        <label asp-for="@Model.DetailCart.ListCart.FirstOrDefault().MenuItem.Price"></label>
                    </th>
                    <th style="width: 70px; text-align: center">
                        <label asp-for="@Model.DetailCart.ListCart.FirstOrDefault().Count"></label>
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.DetailCart.ListCart)
                {
                    <tr style="border-bottom: 1px solid #e9e4e4"></tr>
                    <tr class="paddingB30pxToTD">
                        <td>
                            <b>@Html.DisplayFor(c => item.MenuItem.Name)</b>
                            <br />
                            @Html.DisplayFor(c => item.MenuItem.Description)
                        </td>
                        <td style="width: 70px; text-align: center">
                            @Html.DisplayFor(c => item.MenuItem.Price)
                        </td>
                        <td style="width: 70px; text-align: center">
                            @Html.DisplayFor(c => item.Count)
                        </td>
                        <td class="text-right">
                            <button type="submit" asp-page-handler="plus" asp-route-cartId="@item.Id" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="submit" asp-page-handler="minus" asp-route-cartId="@item.Id" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-2">
                <label class="custom-label">Order total:</label>
            </div>
            <div class="col-sm-3">
                <input asp-for="@Model.DetailCart.OrderHeader.OrderTotal" hidden />
                <input asp-for="@Model.DetailCart.OrderHeader.OrderTotal" disabled class="form-control" />
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <label class="custom-label">Pickup time:</label>
            </div>
            <div class="col-sm-3">
                <input asp-for="@Model.DetailCart.OrderHeader.PickupTime" class="form-control" type="text" value="" id="timepicker" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="custom-label">Comments:</label>
            </div>
            <div class="col-sm-10">
                <textarea style="height: 100px" asp-for="@Model.DetailCart.OrderHeader.Comments" class="form-control"></textarea>
            </div>
        </div>
        <div class="row" style="padding-top: 5px">
            <div class="col-sm-5 col-sm-offset-2">
                <label class="text-danger" id="lblShopClosed" style="display:none">Restaurant is closed for the day</label>
            </div>
            <div class="col-sm-5 text-right">
                <button type="submit" id="btnPlaceOrder" value="Place order" class="btn btn-success">Place order</button>
            </div>
        </div>
    }
    else
    {
        <div>No items added to the shopping cart...</div>
    }
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var currentDateTime = new Date();
            currentDateTime.setHours(17);
            currentDateTime.setMinutes(45);
            var minTime = "";
            if (currentDateTime.getHours() < 11) {
                minTime = "12:00pm";
            } else {
                if (currentDateTime.getMinutes() < 30) {
                    minTime = (currentDateTime.getHours() + 1).toString() + ":30pm";
                } else {
                    minTime = (currentDateTime.getHours() + 2).toString() + ":00pm";
                }
            }
            if (currentDateTime.getHours() > 20) {
                //No more orders
                $('#timepicker').prop('disabled', true);
                $('#btnPlaceOrder').prop('disabled', true);
                $('#lblShopClosed').show();
            }
            $("#timepicker").timepicker({
                'minTime': minTime,
                'maxTime': '10:00pm'
            });

        })
    </script>
}