@page
@using Utilities
@model TasteRestaurant.Pages.Order.ManageOrderModel
@{
    ViewData["Title"] = "ManageOrder";
}

<h2>Manage orders</h2>

<form method="post">
    <br />
    @if (Model.OrderDetailsViewModel.Count > 0)
    {
        foreach (var item in Model.OrderDetailsViewModel)
        {
            <div class="thumbnail row">
                @Html.Partial("_IndividualOrderDetails", item);
                <div class="col-sm-2">
                    @if (item.OrderHeader.Status.Equals(StaticData.StatusSubmitted))
                    {
                        <button type="submit" asp-page-handler="OrderPrepare" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-primary form-control">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Start cooking
                        </button>
                        <button type="submit" asp-page-handler="OrderCancel" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-danger form-control">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel order
                        </button>
                    }
                    else
                    {
                        if (item.OrderHeader.Status.Equals(StaticData.StatusBeingPrepared))
                        {
                            <button type="submit" asp-page-handler="OrderReady" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-success form-control">
                                <span class="glyphicon glyphicon-cutlery"></span>&nbsp;Order prepared
                            </button>
                            <button type="submit" asp-page-handler="OrderCancel" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-danger form-control">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel order
                            </button>
                        }
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>No orders available...</p>
    }
</form>

